# Circuit learning method for SQL: training and test data generation

This notebook contains the data preparation and generation for the circuit learning process. Running the this notebook produces the training and test data which can be found from the `data` folder. This code is represented for reproducibility reasons and there is no need to rerun it every time. The queries are simplified versions of Join Order Benchmark queries.

### PostgreSQL database preparation

Prerequisites:

1. You need to have PostgreSQL database installed and configured
2. You have downloaded the old but more comprehensive IMDB data set from year 2017. See the instructions and link to the files from [cinemagoer](https://cinemagoer.readthedocs.io/en/latest/usage/ptdf.html).
3. Create an empty database (imdb2017) for the user (postgres) with the following code:

```
CREATE DATABASE imdb2017
WITH OWNER postgres
TEMPLATE = template0
ENCODING UTF8
LC_COLLATE = 'und-x-icu'
LC_CTYPE = 'und-x-icu';
```

IMDB is providing newer but less comprehensive [dataset](https://www.imdb.com/interfaces/). Cinemagoer describes how to upload that data into Postgres but because the join order benchmark queries are built on the older dataset, we also need to use the older one.

In [1]:
# Database credentials

port = "5432"
pg_db_name = "imdb2017"
pg_user = "postgres"
pg_pw = "0000"
imdb_file_path = "C:\\Users\\valte\\Documents\\frozendata"

pg_connection = "postgresql://" + pg_user + ":" + pg_pw + "@localhost:" + port + "/" + pg_db_name

The following code will use `imdbpy2sql` code to insert the internet movie database data into the created database. Note that the execution will probably take hours. Once the insert has been performed, comment the cell.

In [2]:
#!python cinemagoer\bin\imdbpy2sql.py -d {imdb_file_path} -u {pg_connection}

To speedup queries we create certain indeces.

In [3]:
import psycopg2

create_indices = """
create index company_id_movie_companies on movie_companies(company_id);
create index company_type_id_movie_companies on movie_companies(company_type_id);
create index info_type_id_movie_info on movie_info(info_type_id);
create index info_type_id_person_info on person_info(info_type_id);
create index keyword_id_movie_keyword on movie_keyword(keyword_id);
create index kind_id_aka_title on aka_title(kind_id);
create index kind_id_title on title(kind_id);
create index linked_movie_id_movie_link on movie_link(linked_movie_id);
create index link_type_id_movie_link on movie_link(link_type_id);
create index movie_id_aka_title on aka_title(movie_id);
create index movie_id_cast_info on cast_info(movie_id);
create index movie_id_complete_cast on complete_cast(movie_id);
create index movie_id_movie_companies on movie_companies(movie_id);
create index movie_id_movie_keyword on movie_keyword(movie_id);
create index movie_id_movie_link on movie_link(movie_id);
create index movie_id_movie_info on movie_info(movie_id);
create index person_id_aka_name on aka_name(person_id);
create index person_id_cast_info on cast_info(person_id);
create index person_id_person_info on person_info(person_id);
create index person_role_id_cast_info on cast_info(person_role_id);
create index role_id_cast_info on cast_info(role_id);
"""

test_query = "EXPLAIN ANALYZE SELECT * FROM title LIMIT 2;"

try:
    connection = psycopg2.connect(user=pg_user, password=pg_pw, host="localhost", port=port, database=pg_db_name)
    cursor = connection.cursor()
    cursor.execute(create_indices)
    res = cursor.fetchall()
    print(res)

except (Exception, psycopg2.Error) as error:
    print("Error while fetching data from PostgreSQL", error)

finally:
    # closing database connection.
    if connection:
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

Error while fetching data from PostgreSQL relation "company_id_movie_companies" already exists

PostgreSQL connection is closed

## Create training and test data

Training and test data are stored to `data` folder in json files.

In [4]:
# Read queries from the join order benchmark
import glob
import os
import re
import json
from pathlib import Path

this_folder = os.path.abspath(os.getcwd())
training_queries, validation_queries, test_queries = [], [], []
query_path_JOB = glob.glob(this_folder + "\\join-order-benchmark-queries\\[0-9]*.sql")
query_path_training = glob.glob(this_folder + "\\queries\\training_queries\\[0-9]*.sql")
query_path_validation = glob.glob(this_folder + "\\queries\\validation_queries\\[0-9]*.sql")
query_path_test = glob.glob(this_folder + "\\queries\\test_queries\\[0-9]*.sql")

for i, query in enumerate(query_path_training):
    base_name = Path(query).stem
    f = open(query, "r")
    training_queries.append({ 'name': base_name, 'query': f.read() })
    
for i, query in enumerate(query_path_validation):
    base_name = Path(query).stem
    f = open(query, "r")
    validation_queries.append({ 'name': base_name, 'query': f.read() })
        
for i, query in enumerate(query_path_test):
    base_name = Path(query).stem
    f = open(query, "r")
    test_queries.append({ 'name': base_name, 'query': f.read() })
        
print("Number of training queries is ", len(training_queries))
print("Number of validation queries is ", len(validation_queries))
print("Number of test queries is ", len(test_queries))

Number of training queries is  1106
Number of validation queries is  277
Number of test queries is  276

### Generating training and test data

In [5]:
def genereta_data(queries, ty = "training"):
    connection = psycopg2.connect(user=pg_user, password=pg_pw, host="localhost", port=port, database=pg_db_name)
    cursor = connection.cursor()
    cursor.execute("SET statement_timeout = 20000; COMMIT;")
    shots_per_query = 10
    data = []
    file_name = "data\\training_data.json"
    root_name = "training_data"

    for query in queries:
        try:
            total_running_time = 0.0
            for i in range(shots_per_query):
                cursor = connection.cursor()
                cursor.execute("EXPLAIN ANALYZE " + query['query'])
                res = cursor.fetchall()
                ex_time = float(re.findall("\d+\.\d+", res[-1][0])[0])
                plan_time = float(re.findall("\d+\.\d+", res[-2][0])[0])
                total_running_time += ex_time + plan_time
            #print(total_running_time / shots_per_query)
            data.append( {'name': query['name'], 'time': round(total_running_time / shots_per_query, 4) })

        except (Exception, psycopg2.Error) as error:
            print("Error while fetching data from PostgreSQL", error)
            print(query)

    if connection:
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")
    
    if ty == "test":
        file_name = "data\\test_data.json"
        root_name = "test_data"
    elif ty == "validation":
        file_name = "data\\validation_data.json"
        root_name = "validation_data"
        
    with open(file_name, 'w') as outfile:
        json.dump({ root_name: data }, outfile)

In [6]:
#genereta_data(training_queries, "training")
genereta_data(validation_queries, "validation")
genereta_data(test_queries, "test")

Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1080', 'query': "SELECT MIN(mc.note) AS production_note FROM aka_title AS at, movie_link AS ml, movie_companies AS mc WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND ml.movie_id = mc.movie_id AND mc.movie_id = at.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1116', 'query': 'SELECT MIN(t.title) AS movie_title FROM cast_info AS ci, title AS t, movie_keyword AS mk WHERE t.production_year < 2011 AND t.id = ci.movie_id AND ci.movie_id = mk.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1176', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_info AS mi, movie_companies AS mc, movie_keyword AS mk WHERE mc.note IS NULL AND mc.movie_id = mk.movie_id AND mk.movie_id = mi.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1182', 'query': 'SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_info AS mi WHERE mc.note IS NULL AND ci.movie_id = mc.movie_id AND mc.movie_id = mi.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1188', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, movie_companies AS mc, movie_keyword AS mk WHERE mc.note IS NULL AND ml.linked_movie_id = mc.movie_id AND ml.movie_id = mk.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1194', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, movie_companies AS mc, movie_keyword AS mk WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND mc.movie_id = mk.movie_id AND ml.linked_movie_id = mc.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1236', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_info AS mi, movie_companies AS mc, movie_keyword AS mk WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND mc.movie_id = mk.movie_id AND mc.movie_id = mi.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1254', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, cast_info AS ci, movie_companies AS mc WHERE mc.note IS NOT NULL AND ci.movie_id = mc.movie_id AND ml.linked_movie_id = mc.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1260', 'query': "SELECT MIN(mi.info) AS release_date FROM movie_info AS mi, movie_companies AS mc, movie_keyword AS mk WHERE mi.info IN ('Sweden', 'USA', 'German') AND mk.movie_id = mi.movie_id AND mc.movie_id = mi.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1272', 'query': "SELECT MIN(mi.info) AS release_date FROM movie_link AS ml, movie_keyword AS mk, movie_info AS mi WHERE mi.info IN ('Sweden', 'USA', 'German') AND ml.movie_id = mi.movie_id AND mk.movie_id = mi.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1278', 'query': 'SELECT MIN(t.title) AS movie_title FROM cast_info AS ci, title AS t, person_info AS pi WHERE t.production_year < 2011 AND t.id = ci.movie_id AND pi.person_id = ci.person_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1326', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, movie_companies AS mc, movie_info AS mi WHERE mc.note IS NULL AND mc.movie_id = mi.movie_id AND ml.linked_movie_id = mc.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1422', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, cast_info AS ci, movie_companies AS mc WHERE mc.note IS NULL AND ml.movie_id = mc.movie_id AND ci.movie_id = mc.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1428', 'query': "SELECT MIN(mi.info) AS release_date FROM movie_link AS ml, movie_companies AS mc, movie_info AS mi WHERE mi.info IN ('Sweden', 'USA', 'German') AND ml.movie_id = mi.movie_id AND ml.movie_id = mc.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1494', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, cast_info AS ci, movie_companies AS mc WHERE mc.note IS NOT NULL AND ci.movie_id = mc.movie_id AND ml.movie_id = mc.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1506', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, cast_info AS ci, movie_companies AS mc WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND ml.movie_id = mc.movie_id AND ci.movie_id = ml.linked_movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '174', 'query': "SELECT MIN(mc.note) AS production_note FROM aka_title AS at, movie_companies AS mc, movie_info AS mi WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND mc.movie_id = at.movie_id AND mi.movie_id = at.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '18', 'query': 'SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_keyword AS mk WHERE mc.note IS NOT NULL AND ci.movie_id = mc.movie_id AND mc.movie_id = mk.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '186', 'query': 'SELECT MIN(t.title) AS movie_title FROM movie_link AS ml, cast_info AS ci, title AS t WHERE t.production_year < 2011 AND ml.linked_movie_id = t.id AND t.id = ci.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '258', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, cast_info AS ci, movie_companies AS mc WHERE mc.note LIKE '%(France)%' AND ci.movie_id = mc.movie_id AND ci.movie_id = ml.linked_movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '264', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, cast_info AS ci, movie_companies AS mc WHERE mc.note IS NULL AND ml.movie_id = mc.movie_id AND ci.movie_id = ml.linked_movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '276', 'query': 'SELECT MIN(mc.note) AS production_note FROM company_name AS cn, movie_companies AS mc, movie_info AS mi WHERE mc.note IS NOT NULL AND cn.id = mc.company_id AND mc.movie_id = mi.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '282', 'query': "SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_keyword AS mk WHERE mc.note LIKE '%(France)%' AND mc.movie_id = mk.movie_id AND ci.movie_id = mc.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '288', 'query': 'SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_keyword AS mk WHERE mc.note IS NOT NULL AND mc.movie_id = mk.movie_id AND ci.movie_id = mc.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '30', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, movie_companies AS mc, movie_info AS mi WHERE mi.info IN ('Sweden', 'USA', 'German') AND mc.movie_id = mi.movie_id AND ml.movie_id = mi.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '318', 'query': "SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_keyword AS mk WHERE mc.note LIKE '%(presents)%' AND mc.movie_id = mk.movie_id AND ci.movie_id = mk.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '360', 'query': "SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_info AS mi WHERE mc.note LIKE '%(France)%' AND mc.movie_id = mi.movie_id AND ci.movie_id = mc.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '378', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, cast_info AS ci, movie_companies AS mc WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND ci.movie_id = mc.movie_id AND ml.movie_id = mc.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '384', 'query': 'SELECT MIN(mc.note) AS production_note FROM company_type AS ct, movie_companies AS mc, movie_info AS mi WHERE mc.note IS NOT NULL AND ct.id = mc.company_type_id AND mc.movie_id = mi.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '42', 'query': "SELECT MIN(mi.info) AS release_date FROM movie_link AS ml, cast_info AS ci, movie_info AS mi WHERE mi.info IN ('Sweden', 'USA', 'German') AND ci.movie_id = mi.movie_id AND ci.movie_id = ml.linked_movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '450', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, cast_info AS ci, movie_companies AS mc WHERE mc.note IS NULL AND ci.movie_id = mc.movie_id AND ml.movie_id = mc.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '486', 'query': "SELECT MIN(mc.note) AS production_note FROM aka_title AS at, movie_companies AS mc, movie_info AS mi WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND mc.movie_id = mi.movie_id AND mc.movie_id = at.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '492', 'query': "SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_keyword AS mk WHERE mc.note LIKE '%(France)%' AND mc.movie_id = mk.movie_id AND ci.movie_id = mk.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '504', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, movie_companies AS mc, movie_keyword AS mk WHERE mc.note IS NOT NULL AND mc.movie_id = mk.movie_id AND ml.linked_movie_id = mc.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '534', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, cast_info AS ci, movie_companies AS mc WHERE mc.note IS NULL AND ml.linked_movie_id = mc.movie_id AND ci.movie_id = ml.linked_movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '540', 'query': "SELECT MIN(mi.info) AS release_date FROM role_type AS rt, cast_info AS ci, movie_info AS mi WHERE mi.info IN ('Sweden', 'USA', 'German') AND ci.movie_id = mi.movie_id AND ci.role_id = rt.id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '552', 'query': "SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, char_name AS chn WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND ci.movie_id = mc.movie_id AND chn.id = ci.person_role_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '558', 'query': 'SELECT MIN(mc.note) AS production_note FROM aka_title AS at, movie_companies AS mc, movie_keyword AS mk WHERE mc.note IS NOT NULL AND mc.movie_id = mk.movie_id AND mk.movie_id = at.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '582', 'query': 'SELECT MIN(mc.note) AS production_note FROM company_type AS ct, cast_info AS ci, movie_companies AS mc WHERE mc.note IS NOT NULL AND ci.movie_id = mc.movie_id AND ct.id = mc.company_type_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '588', 'query': "SELECT MIN(mi.info) AS release_date FROM cast_info AS ci, aka_title AS at, movie_info AS mi WHERE mi.info IN ('Sweden', 'USA', 'German') AND ci.movie_id = mi.movie_id AND mi.movie_id = at.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '6', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, movie_companies AS mc, movie_info AS mi WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND ml.linked_movie_id = mc.movie_id AND ml.movie_id = mi.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '60', 'query': "SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_keyword AS mk WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND mc.movie_id = mk.movie_id AND ci.movie_id = mk.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '738', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_companies AS mc, movie_keyword AS mk, movie_info AS mi WHERE mc.note LIKE '%(France)%' AND mc.movie_id = mi.movie_id AND mc.movie_id = mk.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '750', 'query': "SELECT MIN(n.name) AS actor_name FROM aka_name AS an, cast_info AS ci, name AS n WHERE an.name LIKE '%a%' AND n.id = an.person_id AND n.id = ci.person_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '756', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, movie_companies AS mc, movie_keyword AS mk WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND mc.movie_id = mk.movie_id AND ml.movie_id = mk.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '78', 'query': 'SELECT MIN(t.title) AS movie_title FROM cast_info AS ci, title AS t, person_info AS pi WHERE t.production_year > 2004 AND t.id = ci.movie_id AND pi.person_id = ci.person_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '780', 'query': "SELECT MIN(mi.info) AS release_date FROM cast_info AS ci, info_type AS it, movie_info AS mi WHERE mi.info IN ('Sweden', 'USA', 'German') AND ci.movie_id = mi.movie_id AND it.id = mi.info_type_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '828', 'query': 'SELECT MIN(t.title) AS movie_title FROM aka_name AS an, cast_info AS ci, title AS t WHERE t.production_year < 2011 AND t.id = ci.movie_id AND an.person_id = ci.person_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '84', 'query': 'SELECT MIN(t.title) AS movie_title FROM movie_link AS ml, cast_info AS ci, title AS t WHERE t.production_year > 2004 AND t.id = ci.movie_id AND ml.movie_id = t.id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '840', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_companies AS mc, info_type AS it, movie_info AS mi WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND mc.movie_id = mi.movie_id AND it.id = mi.info_type_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '858', 'query': 'SELECT MIN(t.title) AS movie_title FROM cast_info AS ci, title AS t, kind_type AS kt WHERE t.production_year < 2011 AND kt.id = t.kind_id AND t.id = ci.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '930', 'query': "SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc WHERE mc.note NOT LIKE '%(as Metro-Goldwyn-Mayer Pictures)%' AND ci.movie_id = mc.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '990', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, cast_info AS ci, movie_companies AS mc WHERE mc.note LIKE '%(France)%' AND ml.movie_id = mc.movie_id AND ci.movie_id = ml.linked_movie_id;"}
PostgreSQL connection is closed
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1035', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_link AS ml, movie_companies AS mc, movie_info AS mi WHERE mc.note LIKE '%(presents)%' AND mc.movie_id = mi.movie_id AND ml.linked_movie_id = mc.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '105', 'query': 'SELECT MIN(mc.note) AS production_note FROM movie_companies AS mc, movie_keyword AS mk, movie_info AS mi WHERE mc.note IS NOT NULL AND mc.movie_id = mi.movie_id AND mc.movie_id = mk.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1089', 'query': 'SELECT MIN(t.title) AS movie_title FROM cast_info AS ci, title AS t, movie_info AS mi WHERE t.production_year < 2011 AND t.id = ci.movie_id AND ci.movie_id = mi.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1107', 'query': "SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_info AS mi WHERE mc.note LIKE '%(presents)%' AND ci.movie_id = mc.movie_id AND ci.movie_id = mi.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1125', 'query': "SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_info AS mi WHERE mc.note LIKE '%(France)%' AND ci.movie_id = mc.movie_id AND mc.movie_id = mi.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1149', 'query': "SELECT MIN(mc.note) AS production_note FROM movie_companies AS mc, movie_keyword AS mk, movie_info AS mi WHERE mc.note LIKE '%(co-production)%' AND mc.movie_id = mi.movie_id AND mc.movie_id = mk.movie_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1155', 'query': "SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, name AS n WHERE mc.note LIKE '%(France)%' AND ci.movie_id = mc.movie_id AND n.id = ci.person_id;"}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '117', 'query': 'SELECT MIN(mc.note) AS production_note FROM cast_info AS ci, movie_companies AS mc, movie_keyword AS mk WHERE mc.note IS NULL AND mc.movie_id = mk.movie_id AND ci.movie_id = mk.movie_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1221', 'query': 'SELECT MIN(t.title) AS movie_title FROM aka_name AS an, cast_info AS ci, title AS t WHERE t.production_year > 2004 AND t.id = ci.movie_id AND an.person_id = ci.person_id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout

{'name': '1227', 'query': 'SELECT MIN(mc.note) AS production_note FROM role_type AS rt, cast_info AS ci, movie_companies AS mc WHERE mc.note IS NULL AND ci.movie_id = mc.movie_id AND ci.role_id = rt.id;'}
Error while fetching data from PostgreSQL canceling statement due to statement timeout
